.cookie_banner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    max-width: 700px;
    width: calc(100% - 40px);
    background-color: #c8a76b;
    font-weight: 400;
    font-size: 14px;
    line-height: 112%;
    letter-spacing: -0.02em;
    font-family: var(--second-family);
    color: #fff;
    padding: 28px 25px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    @media all and (max-width: 620px) {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    &__text {
        flex: 1;
        margin-right: 20px;
    }

    &__btn {
        background: #fff;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        color: #292929;
        border: none;
        padding: 10px 59px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        transition: background 0.3s ease, color 0.3s ease;

        &:hover {
            background: #252525;
            color: #fff;
        }
    }
}
