 .main_video {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    @media all and (max-width: 1023px) {
        padding-top: 75px;
        padding-bottom: 40px;
    }
    @media all and (max-width: 620px) {
        padding-top: 30px;  
        padding-bottom: 30px;
    }
    &__top {
        display: flex;
        margin-bottom: 40px;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }
    &__l-side {
        width: 50%;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__title {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 50px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #333;
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
        }
        @media all and (max-width: 620px) {
            font-size: 30px;
        }
    }
    &__r-side {
        width: 50%;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #333;
        margin-bottom: 17px;
        @media all and (max-width: 620px) {
            font-size: 12px;
        }
    }
    &__btn {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #fff;
        border-radius: 100px;
        padding: 17px;
        width: 100%;
        max-width: 240px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background: #353535;
        &:hover {
            background: #252525;
        }
        @media all and (max-width: 620px) {
            font-size: 12px;
            max-width: 150px;
            padding: 12px;
        }
    }
    .slick-arrow {
        position: absolute;
        top: -65px;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 0;
        background: #fff;
        z-index: 2;
        border: 0;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg width='11' height='23' viewBox='0 0 11 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 22L1 11.5L10 1' stroke='black' /%3E%3C/svg%3E") 50% / 9px no-repeat;
        &:hover {
            background: #d5b26a url("data:image/svg+xml,%3Csvg width='11' height='23' viewBox='0 0 11 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 22L1 11.5L10 1' stroke='white' /%3E%3C/svg%3E") 50% / 9px no-repeat;
            @media all and (max-width: 620px) {
                background-size: 5px;
            }
        }
        @media all and (max-width: 1023px) {
            top: -63px;
        }
        @media all and (max-width: 620px) {
            width: 28px;
            height: 28px;
            top: -45px;
            background-size: 5px;
        }
        &::before {
            font-family: 'slick';
            font-size: 20px;
            color: #333;
            opacity: 1;
        }
        &.slick-prev {
            right: 55px;
            @media all and (max-width: 620px) {
                right: 35px;
            }
        }
        &.slick-next {
            top: -90px;
            right: 0;
            transform: rotate(180deg);
            @media all and (max-width: 1023px) {
                top: -88px;
            }
            @media all and (max-width: 620px) {
                top: -59px;
            }
        }
    }
    .slick-list {
        overflow: unset;
    }
    .slick-slide {
        padding-right: 20px;
    }
    &__img {
        position: relative;
        overflow: hidden;
        padding-bottom: 60%;
        min-height: 209px;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    &__info {
        width: 100%;
        position: absolute;
        bottom: vw(20);
        left: vw(78);
        right: vw(20);
        width: calc(100% - vw(98));
        text-align: center;
        @media all and (max-width: 620px) {
            left: 55px;
            right: 15px;
            bottom: 15px;
            width: calc(100% - 70px);
        }
        span {
            font-weight: 400;
            font-size: vw(16);
            line-height: 97%;
            letter-spacing: -0.01em;
            color: #333;
            display: block;
            padding: vw(17) vw(5);
            background: #fff;
            border-radius: 100px;
            position: relative;
            @media all and (max-width: 620px) {
                font-size: 10px;
                padding: 10px;
            }
            &:before {
                content: '';
                position: absolute;
                left: vw(-58);
                top: 50%;
                width: vw(50);
                height: vw(50);
                margin-top: vw(-25);
                border-radius: 50%;
                background: #D5B26A url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C10.5345 0 10.9677 0.433273 10.9677 0.967742V9.03226H19.0323C19.5667 9.03226 20 9.46553 20 10C20 10.5345 19.5667 10.9677 19.0323 10.9677H10.9677V19.0323C10.9677 19.5667 10.5345 20 10 20C9.46553 20 9.03226 19.5667 9.03226 19.0323V10.9677H0.967742C0.433273 10.9677 0 10.5345 0 10C0 9.46553 0.433273 9.03226 0.967742 9.03226H9.03226V0.967742C9.03226 0.433273 9.46553 0 10 0Z' fill='white' /%3E%3C/svg%3E") 50% / 20px no-repeat;
                background-size: vw(20);
                @media all and (max-width: 620px) {
                    width: 36px;
                    height: 36px;
                    margin-top: -18px;
                    background-size: 15px;
                    left: -41px;
                }
            }
        }
    }
}