.documents_block {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        margin-bottom: 40px;
    }
    &__button {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #353535;
        border-radius: 100px;
        padding: 17px 34px;
        background: #d9d9d9;
        cursor: pointer;
        &:hover, &--isActive {
            background: #d5b26a;
            color: #fff;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    &__item {
        width: calc(33.3% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 20px;
        padding: 30px 18px;
    }
}