.header {
    backdrop-filter: blur(4px);
    background: rgba(53, 53, 53, 0.5);
    position: relative;
    z-index: 21;
    &__menu {
        backdrop-filter: blur(4px);
        background: #353535;
        @media all and (max-width: 1023px) {
            display: none;
        }
        ul {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding-top: 4px;
            padding-bottom: 4px;
            li {
                a {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 97%;
                    letter-spacing: -0.01em;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__main {
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 183px;
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 251px;
        }
        @media all and (max-width: 559px) {
            max-width: 173px;
        }
        img {
            width: 100%;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #87867e;
        border-radius: 5px;
        padding: 5px;
        max-width: 310px;
        width: 100%;
        margin-left: auto;
        @media all and (max-width: 1023px) {
            display: none;
        }
        svg {
            flex: 0 0 37px;
            padding-right: 8px;
            border-right: 1px solid #fff;
            width: 37px;
            height: 16px;
        }
        input[type="text"] {
            padding-left: 11px;
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 13px;
            line-height: 120%;
            letter-spacing: -0.01em;
            width: 150px;
            @media all and (max-width: 1023px) {
                width: 100px;
            }
            &::placeholder {
                color: #ffffff1a;
            }
        }
        input[type="button"] {
            background: #343432;
            border: none;
            outline: none;
            color: #fff;
            font-family: var(--font3);
            font-weight: 600;
            font-size: 12px;
            line-height: 115%;
            letter-spacing: -0.02em;
            color: #fff;
            border-radius: 5px;
            padding: 9px 38px;
            background: #d5b26a;
            text-align: center;
            cursor: pointer;
            &:hover {
                background: #4a4a48;
            }
        }
    }
    &__controls {
        margin-left: 25px;
        display: flex;
        gap: 6px;
        @media all and (max-width: 1024px) {
            display: none;
        }
    }
    &__lang {
        font-weight: 400;
        font-size: 14px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #fff;
        border-radius: 5px;
        background: #d5b26a;
        padding: 11px 7px;
        border: 0;
        cursor: pointer;
    }
    &__accessibility {
        border-radius: 5px;
        background: #d5b26a;
        padding: 2px 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__burger {
        display: none;
        @media all and (max-width: 1024px) {
            display: block;
        }
        &--icon {
            cursor: pointer;
            width: 36px;
            height: 32px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_25080)'%3E%3Cpath d='M0 11.27V10.27H16V11.27H0ZM0 6.49998V5.49998H16V6.49998H0ZM0 1.72998V0.72998H16V1.72998H0Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_25080'%3E%3Crect width='16' height='12' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 0 / 100% no-repeat;
        }
        &--close {
            width: 40px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            width: 46px;
            margin-top: -32px;
            height: 32px;
            border: 1px solid #343432;
            background: #1E1E1C url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_83_3920)'%3E%3Cpath d='M2.29297 0.707107L3.00008 0L13.7352 10.7351L13.0281 11.4422L2.29297 0.707107Z' fill='white'/%3E%3Cpath d='M3.01433 11.3616L2.34573 10.693L12.9998 0.0389551L13.6684 0.70756L3.01433 11.3616Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_83_3920'%3E%3Crect width='16' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% / 16px no-repeat;
        }
        &--body {
            position: absolute;
            z-index: 10;
            left: -100%;
            top: 0;
            margin-left: 15px;
            margin-right: 15px;
            width: calc(100% - 30px);
            top: 46px;
            background: #1E1E1C;
        }
        &.isOpened {
            &:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.60);
                z-index: 9;
            }
            .header__burger--body {
                left: 0;
            }
        }
        &--menu {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                border: 1px solid #343432;
                li {
                    width: 100%;
                    a {
                        font-weight: 300;
                        font-size: 13px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #fff;
                        text-align: center;
                        display: block;
                        text-decoration: none;
                        padding: 10px;
                        outline: 1px solid #343432;
                        &:hover {
                            background: #ebebeb;
                            color: #1e1e1c;
                        }
                    }
                }
            }
        }
    }
}