.header {
    backdrop-filter: blur(4px);
    background: rgba(53, 53, 53, 0.5);
    z-index: 21;
    &__menu {
        backdrop-filter: blur(4px);
        background: #353535;
        @media all and (max-width: 1023px) {
            display: none;
        }
        ul {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding-top: 4px;
            padding-bottom: 4px;
            li {
                a {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 97%;
                    letter-spacing: -0.01em;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__main {
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 183px;
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 251px;
        }
        @media all and (max-width: 559px) {
            max-width: 173px;
        }
        img {
            width: 100%;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #87867e;
        border-radius: 5px;
        padding: 5px;
        max-width: 310px;
        width: 100%;
        margin-left: auto;
        @media all and (max-width: 1023px) {
            display: none;
        }
        svg {
            flex: 0 0 37px;
            padding-right: 8px;
            border-right: 1px solid #fff;
            width: 37px;
            height: 16px;
        }
        input[type="text"] {
            padding-left: 11px;
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 13px;
            line-height: 120%;
            letter-spacing: -0.01em;
            width: 150px;
            @media all and (max-width: 1023px) {
                width: 100px;
            }
            &::placeholder {
                color: #ffffff1a;
            }
        }
        input[type="button"] {
            background: #343432;
            border: none;
            outline: none;
            color: #fff;
            font-family: var(--font3);
            font-weight: 600;
            font-size: 12px;
            line-height: 115%;
            letter-spacing: -0.02em;
            color: #fff;
            border-radius: 5px;
            padding: 9px 38px;
            background: #d5b26a;
            text-align: center;
            cursor: pointer;
            &:hover {
                background: #b9984f;
            }
        }
    }
    &__controls {
        margin-left: 25px;
        display: none;
        gap: 6px;
        @media all and (max-width: 1024px) {
            display: none;
        }
    }
    &__lang {
        font-weight: 400;
        font-size: 14px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #fff;
        border-radius: 5px;
        background: #d5b26a;
        padding: 11px 7px;
        border: 0;
        cursor: pointer;
        &:hover {
            background: #b9984f;
        }
    }
    &__accessibility {
        border-radius: 5px;
        background: #d5b26a;
        padding: 2px 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: #b9984f;
        }
    }
    &__burger {
        display: none;
        @media all and (max-width: 1024px) {
            display: block;
        }
        &--icon {
            cursor: pointer;
            width: 36px;
            height: 32px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_25080)'%3E%3Cpath d='M0 11.27V10.27H16V11.27H0ZM0 6.49998V5.49998H16V6.49998H0ZM0 1.72998V0.72998H16V1.72998H0Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_25080'%3E%3Crect width='16' height='12' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 0 / 100% no-repeat;
        }
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &--logo {
            max-width: 150px;
            width: 100%;
            img {
                width: 100%;
            }
        }
        &--close {
            width: 24px;
            height: 24px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.27614 0.390524C1.75544 -0.130175 0.911223 -0.130175 0.390524 0.390524C-0.130175 0.911223 -0.130175 1.75544 0.390524 2.27614L10.1144 12L0.390524 21.7239C-0.130175 22.2446 -0.130175 23.0888 0.390524 23.6095C0.911223 24.1302 1.75544 24.1302 2.27614 23.6095L12 13.8856L21.7239 23.6095C22.2446 24.1302 23.0888 24.1302 23.6095 23.6095C24.1302 23.0888 24.1302 22.2446 23.6095 21.7239L13.8856 12L23.6095 2.27614C24.1302 1.75544 24.1302 0.911223 23.6095 0.390524C23.0888 -0.130175 22.2446 -0.130175 21.7239 0.390524L12 10.1144L2.27614 0.390524Z' fill='white' /%3E%3C/svg%3E") 50% / 100% no-repeat;
        }
        &--body {
            position: fixed;
            z-index: 10;
            left: -100%;
            top: 0;
            width: 100%;
            padding: 15px 20px;
            background: #353535;
        }
        &.isOpened {
            &:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.60);
                z-index: 9;
            }
            .header__burger--body {
                left: 0;
            }
        }
        &--menu {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                border: 1px solid #343432;
                gap: 20px;
                li {
                    width: 100%;
                    a {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 97%;
                        letter-spacing: -0.01em;
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &--search {
            display: flex !important;
            max-width: 100%;
            padding: 4px;
            margin-bottom: 30px;
            input {
                &[type=text] {
                    width: 100% !important;
                }
            }
        }
    }
}