.main_medal {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    padding-top: 80px;
    padding-bottom: 90px;
    overflow: hidden;
    margin-top: 90px;
    @media all and (max-width: 1023px) {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 40px;
    }
    @media all and (max-width: 620px) {
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 20px;
        margin-top: 85px;
    }
    &__in {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        margin-right: vw(45);
        flex: 0 0 365px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media all and (max-width: 1023px) {
            flex: none;
            margin-bottom: 30px;
            margin-right: 0;
        }
    }
    &__title {
        margin-bottom: 15px;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 50px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #fff;
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
        }
        @media all and (max-width: 620px) {
            font-size: 30px;
        }
    }
    &__text {
        margin-bottom: 43px;
        font-weight: 400;
        font-size: 16px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: auto;
        @media all and (max-width: 1023px) {
            margin-bottom: 23px;
        }
        @media all and (max-width: 620px) {
            margin-bottom: 25px;
            font-size: 12px;
        }
    }
    &__more {
        @media all and (max-width: 1023px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 100%;
        }
    }
    &__icon {
        font-size: 0;
        margin-bottom: 20px;
        @media all and (max-width: 1023px) {
            margin-bottom: 0;
            margin-left: auto;
        }
    }
    &__btn {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #fff;
        border-radius: 100px;
        padding: 17px;
        width: 250px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background: #d5b26a;
        &:hover {
            background: #b9984f;
        }
    }
    &__r-side {
        width: 100%;
    }
    .slick-list {
        @media all and (max-width: 1023px) {
            overflow: unset;
        }
    }
    &__img {
        font-size: 0;
        padding-right: 18px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}