@font-face {
	font-family: "Involve";
	font-display: swap;
	src: url("../fonts/Involve-Bold.woff2") format("woff2"), url("../fonts/Involve-Bold.woff") format("woff"), url("../fonts/Involve-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Involve";
	font-display: swap;
	src: url("../fonts/Involve-Regular.woff2") format("woff2"), url("../fonts/Involve-Regular.woff") format("woff"), url("../fonts/Involve-Regular.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Astra";
	font-display: swap;
	src: url("../fonts/Astra-Serif.woff2") format("woff2"), url("../fonts/Astra-Serif.woff") format("woff"), url("../fonts/Astra-Serif.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Involve";
	font-display: swap;
	src: url("../fonts/Involve-SemiBold.woff2") format("woff2"), url("../fonts/Involve-SemiBold.woff") format("woff"), url("../fonts/Involve-SemiBold.ttf") format("ttf");
	font-weight: 600;
}
