:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Involve", sans-serif;
  --third-family: "Astra", sans-serif;
  --font3: "Manrope", sans-serif;
}
body {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
    font-family: var(--font-family);
    outline: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #fbf8f5;
    height: auto;
}
.ovh {
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    &__page_error {
        .footer {
            margin-top: 0;
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.content {
    z-index: 2;
    flex: 1 0 auto;
    position: relative;
    &__congress {
        .main_video {
            background: #fff;
            border-radius: 20px;
        }
    }
}
.footer {
    flex-shrink: 0;
}
.center_block {
    max-width: 1235px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
}
// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}
/* Track */
*::-webkit-scrollbar-track {
    background: #E4E4E4;
    border-radius: 10px 0px 0px 10px;
}
/* Handle */
*::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 10px;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #353535;
}
// scrollbar end