@import "header/header";
@import "first_main/first_main";
@import "h1_block/h1_block";
@import "history_main/history_main";
@import "main_prof/main_prof";
@import "main_gallery/main_gallery";
@import "main_video/main_video";
@import "main_medal/main_medal";
@import "main_study/main_study";
@import "main_single/main_single";
@import "main_map/main_map";
@import "first_block/first_block";
@import "people_block/people_block";
@import "card_block/card_block";
@import "events_block/events_block";
@import "congress_first/congress_first";
@import "fslider_block/fslider_block";
@import "photogallery_block/photogallery_block";
@import "videogallery_block/videogallery_block";
@import "info_block/info_block";
@import "documents_block/documents_block";
@import "contacts_block/contacts_block";
@import "footer/footer";
@import "error_block/error_block";
@import "cookie_banner/cookie_banner";
@import "modals/modals";