.info_block {
    &__block {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 55px;
        @media all and (max-width: 1023px) {
            margin-bottom: 40px;
            margin-bottom: 15px;
            flex-direction: column;
            &:nth-child(2) {
                flex-direction: column-reverse;
            }
        }
    }
    &__img {
        flex: 0 0 vw(649);
        font-size: 0;
        @media all and (max-width: 1023px) {
            flex: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        width: 100%;
        border-radius: 20px;
        background: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #333;
        padding: 50px 30px;
        @media all and (max-width: 1023px) {
            padding: 27px 22px;
        }
        @media all and (max-width: 620px) {
            font-size: 12px;
            padding: 20px 15px;
        }
    }
    &__gallery {
        margin-bottom: 70px;
        border-radius: 20px;
        background: #fff;
        padding: 30px;
        display: flex;
        font-size: 0;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            padding: 0;
            background: none;
            margin-bottom: 50px;
            flex-wrap: wrap;
        }
        @media all and (max-width: 620px) {
            margin-bottom: 15px;
        }
    }
    &__image {
        width: calc(33.3% - 10px);
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            &:nth-child(1), &:nth-child(2) {
                width: calc(50% - 10px);
            }
        }
        @media all and (max-width: 620px) {
            width: 100%;
            &:nth-child(1), &:nth-child(2) {
                width: 100%;
            }
        }
        picture {
            width: 100%;
        }
        img {
            width: 100%;   
            height: 100%;
            object-fit: cover;
        }
    }
}